In [15]:
import numpy as np
import pandas as pd
import os
import re

In [12]:
print("train0: ",len(os.listdir("../data/input/train_image/0")))
print("train1: ",len(os.listdir("../data/input/train_image/1")))
print("test: ",len(os.listdir("../data/input/test_image/test_image/")))

train0:  125111
train1:  50778
test:  101635

In [53]:
path_list = os.listdir("../data/input/train_image/0/")
# path_list = [s for s in path_list if re.match('10307_.*', s)]
# path_list.sort()
# path_list
# path_list = '\n'.join(path_list)

In [54]:
len(path_list)

125111

In [52]:
pattern = '(.*?)_x(.*?)_y(.*?).png\n'
results = re.findall(pattern, path_list, re.S)
df = pd.DataFrame(results, columns=["id", "x", "y"])
df

           id     x     y
0        9029  2501  1701
1       10307  1101   901
2        9257   951  1651
3       10273   601  1701
4       10300  2701   601
...       ...   ...   ...
125105   9176  2101   651
125106  12897  3301  1201
125107  13691  1251  2551
125108  13693  2001  2401
125109   9078   401  1451

[125110 rows x 3 columns]

In [32]:
results

[('10307', '1001', '1001')]